@page "/"

<PageTitle>Kalkulačka</PageTitle>

<style>
    .center-text {
        text-align: center;
    }
</style>

<div class="center-text">
    <h1>Kalkulačka</h1>
    <p style="margin-bottom: 40px;">Závěrečný projekt kurzu C# (Czechitas)</p>
</div>

<div class="calculator">
    <div class="display">@currentInput</div>
    <div class="keypad">
        <div class="keypad-row">
            <button @onclick="() => AddInput(7)">7</button>
            <button @onclick="() => AddInput(8)">8</button>
            <button @onclick="() => AddInput(9)">9</button>
            <button @onclick="() => SetOperation('+')">+</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => AddInput(4)">4</button>
            <button @onclick="() => AddInput(5)">5</button>
            <button @onclick="() => AddInput(6)">6</button>
            <button @onclick="() => SetOperation('-')">-</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => AddInput(1)">1</button>
            <button @onclick="() => AddInput(2)">2</button>
            <button @onclick="() => AddInput(3)">3</button>
            <button @onclick="() => SetOperation('*')">*</button>
        </div>
        <div class="keypad-row">
            <button @onclick="() => AddInput(0)">0</button>
            <button @onclick="AddDecimalPoint">.</button>
            <button @onclick="() => SetOperation('^')">^</button>
            <button @onclick="() => SetOperation('/')">/</button>

        </div>
        <div class="keypad-row">
            <button @onclick="CalculateResult">=</button>
            <button @onclick="Clear">C</button>
            <button @onclick="() => SetOperation('√')">√</button>


        </div>
    </div>
</div>

@code {
    private Calc calculator = new Calc();
    private string currentInput = "";
    private double firstNumber = 0;
    private char? operation = null;

    private void AddInput(int number)
    {
        if (currentInput == "0")
        {
            currentInput = number.ToString();
        }
        else
        {
            currentInput += number.ToString();
        }

    }

    private void AddDecimalPoint()
    {
        if (!currentInput.Contains("."))
        {
            currentInput += ".";
        }
    }

    private void SetOperation(char op)
    {
        firstNumber = double.Parse(currentInput, System.Globalization.CultureInfo.InvariantCulture);
        calculator.AktualniVysledek = firstNumber;
        currentInput = "";
        operation = op;
    }

    private void CalculateResult()
    {
        double secondNumber;

        switch (operation)
        {
            case '+':
                secondNumber = double.Parse(currentInput, System.Globalization.CultureInfo.InvariantCulture);
                calculator.Secti(secondNumber);
                break;
            case '-':
                secondNumber = double.Parse(currentInput, System.Globalization.CultureInfo.InvariantCulture);
                calculator.Odecti(secondNumber);
                break;
            case '*':
                secondNumber = double.Parse(currentInput, System.Globalization.CultureInfo.InvariantCulture);
                calculator.Nasob(secondNumber);
                break;
            case '/':
                secondNumber = double.Parse(currentInput, System.Globalization.CultureInfo.InvariantCulture);
                calculator.Vydel(secondNumber);
                break;
            case '^':
                secondNumber = double.Parse(currentInput, System.Globalization.CultureInfo.InvariantCulture);
                calculator.Mocni(secondNumber);
                break;
            case '√':
                calculator.Odmocni();
                break;
            default:
                break;
        }

        currentInput = calculator.VratAktualniVysledek().ToString();

    }

    private void Clear()
    {
        currentInput = "0";
    }
}
